PIPELINES/PL_BLOB_FLATFILES_TO_RAWCONT_dir/PL_BLOB_FLATFILES_TO_RAWCONT_dir.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"LS_SRC_SalesProject_blob":{"type":"string"},"LS_Sink_SalesProject_Adls":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/PL_BLOB_FLATFILES_TO_RAWCONT_dir')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"GetMetadata_Act","type":"GetMetadata","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"DS_Folder_prm","type":"DatasetReference","parameters":{}},"fieldList":["childItems"],"storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"ForEach_Act","type":"ForEach","dependsOn":[{"activity":"ACT_LOOKUP_FORDELIMETER","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('ACT_LOOKUP_FORDELIMETER').output.value","type":"Expression"},"activities":[{"name":"Copy_Act_blob_to_ADLS","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","additionalColumns":[{"name":"SOURCE_ID","value":"\"LKP FILE\""},{"name":"DATA_DATE","value":{"value":"@formatDateTime(utcNow(), 'yyyy-MM-ddTHH:mm:ssZ')","type":"Expression"}}],"storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"DS_flatfile","type":"DatasetReference","parameters":{"File_Name":{"value":"@item().name","type":"Expression"},"delimeter":{"value":"@item().delimiter","type":"Expression"}}}],"outputs":[{"referenceName":"DS_ADLS_Direct","type":"DatasetReference","parameters":{"filename":"@concat(split(item().name, '.')[0], '_', formatDateTime(utcNow(), 'yyyyMMddHHmmss'), '.csv')"}}]}]}},{"name":"ACT_LOOKUP_FORDELIMETER","type":"Lookup","dependsOn":[{"activity":"GetMetadata_Act","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"dataset":{"referenceName":"DS_CONFIG","type":"DatasetReference","parameters":{}},"firstRowOnly":false}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"Table_Name":{"type":"string"}},"annotations":[],"lastPublishTime":"2025-09-14T08:28:20Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/DS_Folder_prm')]","[concat(variables('factoryId'), '/datasets/DS_CONFIG')]","[concat(variables('factoryId'), '/datasets/DS_flatfile')]","[concat(variables('factoryId'), '/datasets/DS_ADLS_Direct')]"]},{"name":"[concat(parameters('factoryName'), '/DS_Folder_prm')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_SRC_SalesProject_blob')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobStorageLocation","container":"source-file"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"ORDER_METHOD_CODE","type":"String"},{"name":"ORDER_METHOD_EN","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DS_CONFIG')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_SRC_SalesProject_blob')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobStorageLocation","fileName":"config.json","container":"source-file"}},"schema":{"type":"object","properties":{"name":{"type":"string"},"delimiter":{"type":"string"}}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DS_flatfile')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_SRC_SalesProject_blob')]","type":"LinkedServiceReference"},"parameters":{"File_Name":{"type":"string"},"delimeter":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobStorageLocation","fileName":{"value":"@dataset().File_Name","type":"Expression"},"container":"source-file"},"columnDelimiter":{"value":"@dataset().delimeter","type":"Expression"},"compressionCodec":null,"escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DS_ADLS_Direct')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_Sink_SalesProject_Adls')]","type":"LinkedServiceReference"},"parameters":{"filename":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().filename","type":"Expression"},"folderPath":"Target","fileSystem":"raw-container"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]}]}