PIPELINES/PL_BLOBSQLTABLE_TO_RAWCONT/PL_BLOBSQLTABLE_TO_RAWCONT.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"LS_SRC_SalesProject_blob":{"type":"string"},"LS_Sink_SalesProject_Adls":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/PL_BLOBSQLTABLE_TO_RAWCONT')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"GET_METADATA_ACT","type":"GetMetadata","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"DS_FOLDER_SQL_CSV","type":"DatasetReference","parameters":{}},"fieldList":["childItems"],"storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"FOREACH_ACT","type":"ForEach","dependsOn":[{"activity":"GET_METADATA_ACT","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('GET_METADATA_ACT').output.childItems","type":"Expression"},"activities":[{"name":"COPY_ACT_BLOB_ADLS","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","additionalColumns":[{"name":"SOURCE_ID","value":"\"Internal_DB\""},{"name":"DATA_DATE","value":{"value":"@utcNow()","type":"Expression"}}],"storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"DS_BLOB_FILE","type":"DatasetReference","parameters":{"filename":{"value":"@item().name","type":"Expression"}}}],"outputs":[{"referenceName":"DS_ADLS_Direct","type":"DatasetReference","parameters":{"filename":"@concat(split(item().name, '.')[0], '_', formatDateTime(utcNow(), 'yyyyMMddHHmmss'), '.csv')"}}]}]}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"TableName":{"type":"string"}},"annotations":[],"lastPublishTime":"2025-09-14T08:32:41Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/DS_FOLDER_SQL_CSV')]","[concat(variables('factoryId'), '/datasets/DS_BLOB_FILE')]","[concat(variables('factoryId'), '/datasets/DS_ADLS_Direct')]"]},{"name":"[concat(parameters('factoryName'), '/DS_FOLDER_SQL_CSV')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_SRC_SalesProject_blob')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobStorageLocation","container":"source-sql"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DS_BLOB_FILE')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_SRC_SalesProject_blob')]","type":"LinkedServiceReference"},"parameters":{"filename":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobStorageLocation","fileName":{"value":"@dataset().filename","type":"Expression"},"container":"source-sql"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"BRANCH_CODE","type":"String"},{"name":"ADDRESS1","type":"String"},{"name":"ADDRESS1_MB","type":"String"},{"name":"ADDRESS2","type":"String"},{"name":"ADDRESS2_MB","type":"String"},{"name":"CITY","type":"String"},{"name":"CITY_MB","type":"String"},{"name":"PROV_STATE","type":"String"},{"name":"PROV_STATE_MB","type":"String"},{"name":"POSTAL_ZONE","type":"String"},{"name":"COUNTRY_CODE","type":"String"},{"name":"ORGANIZATION_CODE","type":"String"},{"name":"WAREHOUSE_BRANCH_CODE","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DS_ADLS_Direct')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_Sink_SalesProject_Adls')]","type":"LinkedServiceReference"},"parameters":{"filename":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().filename","type":"Expression"},"folderPath":"Target","fileSystem":"raw-container"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]}]}