PIPELINES/PL_LOAD_ALL_LOOKUP_ADHOC/PL_LOAD_ALL_LOOKUP_ADHOC.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"LS_SRC_SalesProject_Sql":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/PL_LOAD_ALL_LOOKUP_ADHOC')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"PL_1","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"PL_Load_Warehouse_LKP","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"PL_2","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"PL_Load_ReturnReason_LKP","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"PL_3","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"PL_Retailer_LKP","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"PL_4","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"PL_Load_Product_Name_LKP","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"PL_5","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"PL_Load_OrderMethod_LKP","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"PL_6","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"PL_Load_Country_LKP","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"Sp_Log_Failure","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"PL_1","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[integration].[usp_Log_Pipeline_Failure]","storedProcedureParameters":{"ErrorMessage":{"value":{"value":"@activity('PL_1').Error.Message","type":"Expression"},"type":"String"},"JobName":{"value":"\"Lookup Load Ad-HOC\"","type":"String"},"PipelineName":{"value":{"value":"@pipeline().Pipeline","type":"Expression"},"type":"String"},"RunId":{"value":{"value":"@pipeline().RunId","type":"Expression"},"type":"Guid"},"TableName":{"value":{"value":"@activity('PL_1').name","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LS_SRC_SalesProject_Sql')]","type":"LinkedServiceReference"}},{"name":"Sp_Log_Failure_copy1","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"PL_2","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[integration].[usp_Log_Pipeline_Failure]","storedProcedureParameters":{"ErrorMessage":{"value":{"value":"@activity('PL_2').Error.Message","type":"Expression"},"type":"String"},"JobName":{"value":"\"Lookup Load Ad-HOC\"","type":"String"},"PipelineName":{"value":{"value":"@pipeline().Pipeline","type":"Expression"},"type":"String"},"RunId":{"value":{"value":"@pipeline().RunId","type":"Expression"},"type":"Guid"},"TableName":{"value":{"value":"@activity('PL_2').name","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LS_SRC_SalesProject_Sql')]","type":"LinkedServiceReference"}},{"name":"Sp_Log_Failure_copy1_copy1","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"PL_3","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[integration].[usp_Log_Pipeline_Failure]","storedProcedureParameters":{"ErrorMessage":{"value":{"value":"@activity('PL_3').Error.Message","type":"Expression"},"type":"String"},"JobName":{"value":"\"Lookup Load Ad-HOC\"","type":"String"},"PipelineName":{"value":{"value":"@pipeline().Pipeline","type":"Expression"},"type":"String"},"RunId":{"value":{"value":"@pipeline().RunId","type":"Expression"},"type":"Guid"},"TableName":{"value":{"value":"@activity('PL_3').name","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LS_SRC_SalesProject_Sql')]","type":"LinkedServiceReference"}},{"name":"Sp_Log_Failure_copy1_copy1_copy1","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"PL_4","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[integration].[usp_Log_Pipeline_Failure]","storedProcedureParameters":{"ErrorMessage":{"value":{"value":"@activity('PL_4').Error.Message","type":"Expression"},"type":"String"},"JobName":{"value":"\"Lookup Load Ad-HOC\"","type":"String"},"PipelineName":{"value":{"value":"@pipeline().Pipeline","type":"Expression"},"type":"String"},"RunId":{"value":{"value":"@pipeline().RunId","type":"Expression"},"type":"Guid"},"TableName":{"value":{"value":"@activity('PL_4').name","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LS_SRC_SalesProject_Sql')]","type":"LinkedServiceReference"}},{"name":"Sp_Log_Failure_copy1_copy1_copy1_copy1","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"PL_5","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[integration].[usp_Log_Pipeline_Failure]","storedProcedureParameters":{"ErrorMessage":{"value":{"value":"@activity('PL_5').Error.Message","type":"Expression"},"type":"String"},"JobName":{"value":"\"Lookup Load Ad-HOC\"","type":"String"},"PipelineName":{"value":{"value":"@pipeline().Pipeline","type":"Expression"},"type":"String"},"RunId":{"value":{"value":"@pipeline().RunId","type":"Expression"},"type":"Guid"},"TableName":{"value":{"value":"@activity('PL_5').name","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LS_SRC_SalesProject_Sql')]","type":"LinkedServiceReference"}},{"name":"Sp_Log_Failure_copy1_copy1_copy1_copy1_copy1","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"PL_6","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[integration].[usp_Log_Pipeline_Failure]","storedProcedureParameters":{"ErrorMessage":{"value":{"value":"@activity('PL_6').Error.Message","type":"Expression"},"type":"String"},"JobName":{"value":"\"Lookup Load Ad-HOC\"","type":"String"},"PipelineName":{"value":{"value":"@pipeline().Pipeline","type":"Expression"},"type":"String"},"RunId":{"value":{"value":"@pipeline().RunId","type":"Expression"},"type":"Guid"},"TableName":{"value":{"value":"@activity('PL_6').name","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LS_SRC_SalesProject_Sql')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{}},"folder":{"name":"Orchestration"},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/pipelines/PL_Load_Warehouse_LKP')]","[concat(variables('factoryId'), '/pipelines/PL_Load_ReturnReason_LKP')]","[concat(variables('factoryId'), '/pipelines/PL_Retailer_LKP')]","[concat(variables('factoryId'), '/pipelines/PL_Load_Product_Name_LKP')]","[concat(variables('factoryId'), '/pipelines/PL_Load_OrderMethod_LKP')]","[concat(variables('factoryId'), '/pipelines/PL_Load_Country_LKP')]"]},{"name":"[concat(parameters('factoryName'), '/PL_Load_Warehouse_LKP')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"SP_Warehouse_LKP","type":"SqlServerStoredProcedure","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[integration].[usp_MergeDimWarehouseLkp]"},"linkedServiceName":{"referenceName":"[parameters('LS_SRC_SalesProject_Sql')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{}},"folder":{"name":"Orchestration"},"annotations":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/PL_Load_ReturnReason_LKP')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"SP_ReturnReason_LKP","type":"SqlServerStoredProcedure","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[integration].[usp_MergeDimReturnReasonlkp]"},"linkedServiceName":{"referenceName":"[parameters('LS_SRC_SalesProject_Sql')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{}},"folder":{"name":"Orchestration"},"annotations":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/PL_Retailer_LKP')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"SP_Retailer_LKP","type":"SqlServerStoredProcedure","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[integration].[usp_MergeDimRetailerlkp]"},"linkedServiceName":{"referenceName":"[parameters('LS_SRC_SalesProject_Sql')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{}},"folder":{"name":"Orchestration"},"annotations":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/PL_Load_Product_Name_LKP')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"SP_ProductName_LKP","type":"SqlServerStoredProcedure","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[integration].[usp_MergeDimProductNameLkp]"},"linkedServiceName":{"referenceName":"[parameters('LS_SRC_SalesProject_Sql')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{}},"folder":{"name":"Orchestration"},"annotations":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/PL_Load_OrderMethod_LKP')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"SP_OrderMethod_LKP","type":"SqlServerStoredProcedure","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[integration].[usp_MergeDimOrderMethodLkp]"},"linkedServiceName":{"referenceName":"[parameters('LS_SRC_SalesProject_Sql')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{}},"folder":{"name":"Orchestration"},"annotations":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/PL_Load_Country_LKP')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"SP_Country_LKP","type":"SqlServerStoredProcedure","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[integration].[usp_MergeDimCountryLkp]"},"linkedServiceName":{"referenceName":"[parameters('LS_SRC_SalesProject_Sql')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{}},"folder":{"name":"Orchestration"},"annotations":[]},"dependsOn":[]}]}