PIPELINES/PL_Daily_Master/PL_Daily_Master.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"LS_SRC_SalesProject_Sql":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/PL_Daily_Master')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Execute Pipeline1","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"PL_Load_DIM_Product","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"Execute Pipeline2","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"PL_Load_DIM_Product","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"SP_Log_Failure","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Execute Pipeline1","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[integration].[usp_Log_Pipeline_Failure]","storedProcedureParameters":{"ErrorMessage":{"value":{"value":"@activity('Execute Pipeline1').Error.Message","type":"Expression"},"type":"String"},"JobName":{"value":"\"Daily Load\"","type":"String"},"PipelineName":{"value":{"value":"@pipeline().Pipeline","type":"Expression"},"type":"String"},"RunId":{"value":{"value":"@pipeline().RunId","type":"Expression"},"type":"Guid"},"TableName":{"value":{"value":"@activity('Execute Pipeline1').name","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LS_SRC_SalesProject_Sql')]","type":"LinkedServiceReference"}},{"name":"SP_Log_Failure_copy1","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Execute Pipeline2","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[integration].[usp_Log_Pipeline_Failure]","storedProcedureParameters":{"ErrorMessage":{"value":{"value":"@activity('Execute Pipeline2').Error.Message","type":"Expression"},"type":"String"},"JobName":{"value":"\"Daily Load\"","type":"String"},"PipelineName":{"value":{"value":"@pipeline().Pipeline","type":"Expression"},"type":"String"},"RunId":{"value":{"value":"@pipeline().RunId","type":"Expression"},"type":"Guid"},"TableName":{"value":{"value":"@activity('Execute Pipeline2').name","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LS_SRC_SalesProject_Sql')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{}},"folder":{"name":"Orchestration"},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/pipelines/PL_Load_DIM_Product')]"]},{"name":"[concat(parameters('factoryName'), '/PL_Load_DIM_Product')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"SP_TML_DIM_PRODUCT","type":"SqlServerStoredProcedure","dependsOn":[],"policy":{"timeout":"02:00:00","retry":3,"retryIntervalInSeconds":60,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[integration].[usp_Load_DIM_PRODUCT]"},"linkedServiceName":{"referenceName":"[parameters('LS_SRC_SalesProject_Sql')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{}},"folder":{"name":"Orchestration"},"annotations":[]},"dependsOn":[]}]}