PIPELINES/PL_ONPREMISES_SQL_TO_SOURCE_BLOB/PL_ONPREMISES_SQL_TO_SOURCE_BLOB.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"LS_SRC_SalesProject_SHIR":{"type":"string"},"LS_SRC_SalesProject_blob":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/PL_ONPREMISES_SQL_TO_SOURCE_BLOB')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"ForEach_Act","type":"ForEach","dependsOn":[],"userProperties":[],"typeProperties":{"items":{"value":"@pipeline().parameters.tablelist","type":"Expression"},"activities":[{"name":"Copy_Act_OnPrem_Sql_ADLS","type":"Copy","dependsOn":[{"activity":"LookupMinMax","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SqlServerSource","queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobStorageWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"DS_Sql_table_Onpremises","type":"DatasetReference","parameters":{"tablename":{"value":"@item().TableName","type":"Expression"}}}],"outputs":[{"referenceName":"DS_blob_Sql","type":"DatasetReference","parameters":{"filename":{"value":"@concat(item().tablename,'_',formatDateTime(utcNow(),'yyyyMMddHHmmss'),'.csv')","type":"Expression"}}}]},{"name":"LookupMinMax","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":{"value":"@concat('SELECT MIN(', item().PartitionCol, ') AS MinVal, MAX(', item().PartitionCol, ') AS MaxVal FROM ', item().TableName)\n","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"DS_Sql_table_Onpremises","type":"DatasetReference","parameters":{"tablename":{"value":"@item().TableName","type":"Expression"}}},"firstRowOnly":true}}]}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"tablelist":{"type":"array","defaultValue":[{"TableName":"ORDER_HEADER","PartitionCol":"ORDER_NUMBER"},{"TableName":"PRODUCT","PartitionCol":"PRODUCT_NUMBER"},{"TableName":"ORDER_DETAILS","PartitionCol":"ORDER_DETAIL_CODE"},{"TableName":"RETURNED_ITEM","PartitionCol":"RETURN_CODE"},{"TableName":"INVENTORY_LEVELS","PartitionCol":"PRODUCT_NUMBER"},{"TableName":"BRANCH","PartitionCol":"BRANCH_CODE"}]}},"annotations":[],"lastPublishTime":"2025-09-12T13:07:40Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/DS_Sql_table_Onpremises')]","[concat(variables('factoryId'), '/datasets/DS_blob_Sql')]"]},{"name":"[concat(parameters('factoryName'), '/DS_Sql_table_Onpremises')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_SRC_SalesProject_SHIR')]","type":"LinkedServiceReference"},"parameters":{"tablename":{"type":"string"}},"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"schema":"","table":{"value":"@dataset().tablename","type":"Expression"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DS_blob_Sql')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_SRC_SalesProject_blob')]","type":"LinkedServiceReference"},"parameters":{"filename":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobStorageLocation","fileName":{"value":"@dataset().filename","type":"Expression"},"container":"source-sql"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]}]}